<ion-view view-title="Account">
  <ion-content>

    <div class="list list-inset" ng-hide="loggedInUser">
      <label class="item item-input">
          <input type="text" placeholder="User name" ng-model="login.username">
      </label>
      <label class="item item-input">
          <input type="password" placeholder="Password" ng-model="login.password">
      </label>
    </div>

    <button class="button button-block button-calm"
      ng-click="login()" ng-hide="loggedInUser">Login</button>
    <button class="button button-block button-positive"
      ng-click="logout()" ng-show="loggedInUser">Log Out</button>

    <div class="padding" ng-show="loggedInUser">
      <h3>Saved Searches</h3>
      <ion-list>190 - New York - Stop 27175</ion-list>
      <h3>Alarms</h3>
      <ion-list>190 - New York - Stop 27175
        <ion-toggle ng-model="settings.alarm">8:00 - 8:30, 5 Minute Alert</ion-toggle>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
